﻿@page "/app/core/config/{id?}"
@using ChipBot.Core.Shared.Api
@using global::System.Text.Json
@attribute [Authorize(Roles = RoleDefaults.Owner)]
@inject HttpClient httpClient
@inject NavigationManager navManager

<h1>Configuration @Id</h1>

@if (Model != null && Model.Json != null)
{
    <EditForm Model="Model" OnSubmit="OnSubmit">
        <div class="mb-3">
            <input type="text" class="form-control" @bind="Model.Key" />
        </div>
        <div class="mb-3">
            <textarea class="form-control" @bind="Model.Json" rows="20" />
        </div>
        <button type="submit" class="btn btn-primary">@(Id == null ? "Create" : "Save")</button>
        @if (Id != null)
        {
            <button type="button" class="btn btn-danger ms-3" @onclick="OnRemove">Remove</button>
        }
    </EditForm>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    [Parameter]
    public string Id { get; set; }

    [SupplyParameterFromForm]
    private ConfigModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = new ConfigModel() { Key = Id ?? "NewConfig" };
        try
        {
            if (Id != null)
            {
                using var loader = WebAppState.GetLoader();
                var json = await httpClient.GetStringAsync($"/config/{Id}");
                Model.Json = JsonSerializer.Serialize(JsonSerializer.Deserialize<JsonDocument>(json), new JsonSerializerOptions() { WriteIndented = true });
            }
            else
            {
                Model.Json = "{}";
            }
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode != HttpStatusCode.NotFound) throw;
            navManager.NavigateTo("/app/core/system");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async void OnSubmit()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            await httpClient.PostAsJsonAsync($"/config/{Model.Key}", Model.Json);
            WebAppState.PushToast(ToastModel.FromSuccess($"Config {Model.Key} is saved"));
            navManager.NavigateTo($"/app/core/config/{Model.Key}");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async void OnRemove()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            await httpClient.DeleteAsync($"/config/{Model.Key}");
            WebAppState.PushToast(ToastModel.FromSuccess($"Config {Model.Key} is removed"));
            navManager.NavigateTo($"/app/core/system");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private class ConfigModel
    {
        public string Json { get; set; }
        public string Key { get; set; }
    }
}