﻿@page "/app/core/system"
@using ChipBot.Core.Shared.Api
@attribute [Authorize(Roles = RoleDefaults.Owner)]
@attribute [PageInfo(Icon = "bi bi-wrench", Link = "/app/core/system", Name = "System", Roles = RoleDefaults.Owner, Order = 40)]
@inject HttpClient httpClient

<h1>System</h1>
<div class="d-flex flex-wrap">
    <div class="m-1">
        <h2>System Info</h2>
        <TryGetFromApi TModel="SystemInfo" Link="/system/info">
            <OnSuccess>
                <p>
                    <div class="d-flex flex-column">
                        <span><strong>Core Version: </strong><span>@context.CoreVersion</span></span>
                        <span><strong>Bot Version: </strong><span>@context.BotVersion</span></span>
                        <span><strong>Discord.Net Version: </strong><span>@context.DiscordNetVersion</span></span>
                        <span><strong>Machine Name: </strong><span>@context.MachineName</span></span>
                        <span><strong>OS: </strong><span>@context.OS</span></span>
                        <span><strong>CPU: </strong><span>@context.CPU</span></span>
                        <span><strong>Memory: </strong><span>@context.Memory</span></span>
                        <span><strong>Guild Count: </strong><span>@context.GuildCount</span></span>
                        <span><strong>Users Count: </strong><span>@context.Users</span></span>
                        <span><strong>Commands Count: </strong><span>@context.Commands</span></span>
                    </div>
                </p>
            </OnSuccess>
            <OnFail><p>Failed to load System Info</p></OnFail>
        </TryGetFromApi>
    </div>
    <div class="m-1">
        <h2>Services</h2>
        @if (services != null)
        {
            <div>
                @foreach (var (serviceName, state) in services)
                {
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="sw-@serviceName" checked="@state" @onchange="(e) => OnServiceChange(serviceName, (bool)e.Value)" />
                        <label class="form-check-label" for="sw-@serviceName">@serviceName</label>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No services</p>
        }
    </div>
    <div class="m-1">
        <h2>Configuration</h2>
        <TryGetFromApi TModel="List<string>" Link="/config/list">
            <OnSuccess>
                <p>
                    <div class="d-flex flex-column">
                        @foreach (var configName in context)
                        {
                            <a href="@($"/app/core/config/{configName}")" class="link-body-emphasis text-decoration-none"><span>@configName</span><strong><i class="ms-1 bi bi-pencil-square"></i></strong></a>
                        }
                        <a href="/app/core/config/" class="link-primary text-decoration-none"><span>Create New</span><strong><i class="ms-1 bi bi-plus-square"></i></strong></a>
                    </div>
                </p>
            </OnSuccess>
            <OnFail><p>Failed to load Configuration List</p></OnFail>
        </TryGetFromApi>
    </div>
</div>

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private Dictionary<string, bool> services;

    protected override async Task OnInitializedAsync()
    {
        await GetServicesState();
    }

    private async Task GetServicesState()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            services = await httpClient.GetFromJsonAsync<Dictionary<string, bool>>("/system/services");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(new ToastModel()
                {
                    Icon = "bi bi-exclamation-square",
                    Message = ex.Message,
                    IsSimple = true
                });
        }
        StateHasChanged();
    }

    private async Task OnServiceChange(string service, bool value)
    {
        using var loader = WebAppState.GetLoader();
        var response = await httpClient.PutAsJsonAsync<Dictionary<string, ServiceApiAction>>("/system/services", new Dictionary<string, ServiceApiAction>()
        {
            { service, value ? ServiceApiAction.start : ServiceApiAction.stop }
        });
        if (response.IsSuccessStatusCode)
        {
            WebAppState.PushToast(ToastModel.FromSuccess($"{service} is {(value ? "turned on" : "turned off")}."));
        }
        else
        {
            WebAppState.PushToast(ToastModel.FromWarning($"Couldn't {(value ? "turn on" : "turn off")} service {service}."));
        }
        await GetServicesState();
    }
}