﻿@page "/app/developer/applications"
@using ChipBot.Core.Shared.Api
@using ChipBot.Core.Web.Shared
@attribute [Authorize]
@attribute [PageInfo(Icon = "bi bi-code-slash", Link = "/app/developer/applications", Name = "Applications", Hidden = true, Order = 40)]
@inject HttpClient httpClient

<h1>Applications</h1>
<div class="m-1 d-flex flex-wrap">
    <TryGetFromApi TModel="List<ApiApplicationModel>" Link="/apiapplications/list">
        <OnSuccess>
            <div class="d-grid gap-3 border-0 col-4">
                @foreach (var app in context.OrderByDescending(app => app.IsEnabled))
                {
                    <a href="@($"/app/developer/applications/edit/{app.Name}")" class="border text-decoration-none p-3 rounded-3 text-truncate">
                        @app.Name
                        @if (!app.IsEnabled)
                        {
                            <span class="ms-1 badge rounded-pill text-bg-secondary">Disabled</span>
                        }
                        <span class="d-block text-secondary small opacity-50 text-truncate">@string.Join(", ", @app.Scopes)</span>
                    </a>
                }
                <a href="/app/developer/applications/edit" class="link-primary text-decoration-none"><span>Create New</span><strong><i class="ms-1 bi bi-plus-square"></i></strong></a>
            </div>
        </OnSuccess>
        <OnFail>Failed to load Applications List</OnFail>
    </TryGetFromApi>
</div>