﻿@page "/app/developer/applications/edit/{id?}"
@using ChipBot.Core.Shared.Api
@using global::System.Text.Json
@attribute [Authorize]
@inject HttpClient httpClient
@inject NavigationManager navManager
@inject IJSRuntime js

<h1>Application @Id</h1>

@if (Model != null)
{
    <EditForm Model="Model" OnSubmit="OnSubmit">
        <div class="mb-3">
            <input type="text" disabled="@(Id != null)" class="form-control" @bind="Model.Name" />
        </div>

        @if (Model.Key != null)
        {
            <div class="input-group mb-3">
                <input type="@(keyHidden ? "password" : "text")" class="form-control" @bind="Model.Key" />
                <button class="btn btn-outline-secondary toggle-pwd-field" type="button" @onclick="() => keyHidden = !keyHidden">Show</button>
                <button class="btn btn-outline-secondary copy-field" type="button" @onclick="CopyKey">Copy</button>
            </div>
        }

        <div class="mb-3 d-flex gap-3 flex-wrap">
            @foreach (var scope in AllScopes)
            {
                var readKey = $"{scope}.read";
                <span>
                    <input type="checkbox" class="form-check-input" id="app-@readKey" checked="@Model.Scopes.Contains(readKey)" @onchange="() => OnScopeChange(readKey)" />
                    <label class="form-check-label" for="app-@readKey">@readKey</label>
                </span>

                var writeKey = $"{scope}.write";
                <span>
                    <input type="checkbox" class="form-check-input" id="app-@writeKey" checked="@Model.Scopes.Contains(writeKey)" @onchange="() => OnScopeChange(writeKey)" />
                    <label class="form-check-label" for="app-@writeKey">@writeKey</label>
                </span>
            }
        </div>

        <div class="mb-3">
            <input type="checkbox" class="form-check-input" id="appenabled" @bind="Model.IsEnabled" />
            <label class="form-check-label" for="appenabled">Is Enabled?</label>
        </div>

        <button type="submit" class="btn btn-primary">@(Id == null ? "Create" : "Save")</button>
        @if (Id != null)
        {
            <button type="button" class="btn btn-danger ms-3" @onclick="OnRemove">Remove</button>
        }
    </EditForm>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    [Parameter]
    public string Id { get; set; }

    [SupplyParameterFromForm]
    private ApiApplicationExpandedModel Model { get; set; }

    private IEnumerable<string> AllScopes { get; set; } = new List<string>();

    private bool keyHidden = true;

    protected override async Task OnInitializedAsync()
    {
        Model = new ApiApplicationExpandedModel() { Name = Id ?? "NewApplication", IsEnabled = false };
        try
        {
            using var loader = WebAppState.GetLoader();
            AllScopes = await httpClient.GetFromJsonAsync<IEnumerable<string>>("/apiapplications/scopes");
            if (Id != null)
            {
                Model = await httpClient.GetFromJsonAsync<ApiApplicationExpandedModel>($"/apiapplications/{Id}");
            }
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode != HttpStatusCode.NotFound) throw;
            navManager.NavigateTo("/app/developer/applications");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async void CopyKey()
    {
        await js.InvokeVoidAsync("navigator.clipboard.writeText", Model.Key);
    }

    private void OnScopeChange(string scope)
    {
        if (Model.Scopes.Contains(scope))
        {
            Model.Scopes.Remove(scope);
        }
        else
        {
            Model.Scopes.Add(scope);
        }
    }

    private async void OnSubmit()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            await httpClient.PostAsJsonAsync($"/apiapplications/{Model.Name}", Model);
            WebAppState.PushToast(ToastModel.FromSuccess($"Application {Model.Name} is saved"));
            navManager.NavigateTo($"/app/developer/applications/edit/{Model.Name}");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async void OnRemove()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            await httpClient.DeleteAsync($"/apiapplications/{Model.Name}");
            WebAppState.PushToast(ToastModel.FromSuccess($"Application {Model.Name} is removed"));
            navManager.NavigateTo($"/app/developer/applications");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }
}