﻿@using ChipBot.Core.Web.Extensions
@using ChipBot.Core.Web.Services
@inject DiscordCacheService discordCache
@implements IDisposable

@if (user != null)
{
    <div class="d-flex text-nowrap">
        <img src="@(user.AvatarUrl ?? user.DefaultAvatarUrl)" width="24" height="24" class="rounded-circle me-1" />
        @if (user.PrimaryRole == null)
        {
            <span>@user.DisplayName</span>
        }
        else
        {
            <span style="color: @user.PrimaryRole.Color.ToHex();">@user.DisplayName</span>
        }
    </div>
}
else
{
    <div class="d-flex text-nowrap placeholder-wave">
        <img width="24" height="24" class="rounded-circle me-1 placeholder" />
        <span class="placeholder">DisplayName</span>
    </div>
}

@code {
    [Parameter]
    public ulong UserId { get; set; }

    private DiscordUser user;

    protected override void OnInitialized()
    {
        discordCache.OnRefresh += OnRefresh;
        OnRefresh();
    }

    private void OnRefresh()
    {
        user = discordCache.GetUser(UserId);
        StateHasChanged();
    }

    public void Dispose()
    {
        discordCache.OnRefresh -= OnRefresh;
    }
}